<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="proyectofinal.autocodes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:name=".AutocodesApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".ListGroupActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GroupActivity" />
        <activity android:name=".CreateGroupActivity" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <data android:scheme="@string/fb_login_protocol_scheme" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".PreferencesActivity" />
        <activity android:name=".WeightAndHeightActivity" />

        <service android:name=".service.TrackingService" />
        <service android:name=".service.FetchActiveGroupService" />
        <service android:name=".service.TrackingDriverService" />
        <service android:name=".service.PullAndAnalizeDataService" />
        <service android:name=".service.DummyBacService" />

        <activity android:name=".DriverStatusActivity" />
        <activity android:name=".DriverConfirmDeviceActivity" />
        <activity android:name=".ChatGroupActivity" />
        <activity android:name=".ActiveNotificationActivity"
            android:noHistory="true"/>
    </application>

</manifest>